<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookapp.mapper.LibraryMapper">
    <select id="findLibraryBycityandprovince" parameterType="LibraryDto">
        select *
        from library
        WHERE address LIKE CONCAT('%', #{city}, '%')
        AND address LIKE CONCAT('%', #{province}, '%')
    </select>

    <select id="findAgeCode" parameterType="AgeDto">
        select code,detail
        from  age
        WHERE #{age} BETWEEN min_age AND max_age
    </select>

    <select id="findGenderCode" parameterType="GenderDto">
        select code
        from  gender
        WHERE gender LIKE CONCAT('%', #{gender}, '%')
    </select>

</mapper>
